@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
    --dark-gray-color: #1c1e22;
    --light-gray-color: #272b30;
    --dark-white-color: #ddd;
    --block-width: 550px;
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin: 0;
    padding: 35px;
    font-family: Montserrat, sans !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--light-gray-color);
    color: var(--dark-white-color);
    border-radius: 6px;
    box-shadow: 0 0 20px var(--dark-gray-color)
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

input[type="number"] {
  font-family: Montserrat, sans !important;
  padding: 0 25px;
  background: var(--dark-white-color);
  border-radius: 15px;
  margin: 5px;
  outline: none;
  height: 35px;
  
}

select {
  background: var(--dark-white-color);
  font-family: Montserrat, sans !important;
  
  padding: 5px 15px;
  border-radius: 15px;
  border-radius: 15px;
  height: 40px;
  
}

button {
  background-color: var(--dark-white-color);
  outline: none;
  border: none;
  padding: 8px 15px;
  
  border-radius: 15px;
}
.header {
    height: 100px;
    background-color: var(--dark-gray-color);
    border-radius: 5px 5px 0 0;
    position: relative;
}

.header::before {
    position: absolute;
    content: "";
    background: var(--light-gray-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 50px;
    top: 50px;
}

.icon {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    left: 55px;
    top: 55px;
    text-align: center;
    color: var(--dark-white-color);
    line-height: 1em;
    font-size: 2.5em;
    font-weight: 900;
    box-sizing: border-box;
    line-height: 90px;
    z-index: 1; 
}

.icon::after {
    content: "";
    position: absolute;
    border: 10px var(--dark-gray-color) solid;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-sizing: border-box;
    left: 0;
    z-index: 15;
}

.title {
    float: right;
    width: 70%;
    color: var(--dark-white-color);
    font-size: 25px;
    text-transform: uppercase;
    margin: 0;
    transform: translateY(60px)
}

.info {
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
}

.first-column {
    width: 13em;
    padding: 10px;
    margin-top: 10px;
    border-right: solid 1px var(--light-gray-color)
}

.crawl {
    margin: 4em 0 0 1em;
    text-align: left;
}

.subtitle {
    text-transform: uppercase;
    padding: 6px 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    background: linear-gradient(
        var(--dark-gray-color), 
        var(--light-gray-color),
        var(--dark-gray-color))
}

.name {
    margin: 0 0 5px 15px;
}

.second-column {
    margin: 0 1em;
    width: calc(var(--block-width) - 13em)
}

.characters ul,
.planets ul,
.starships ul,
.vehicles ul,
.species ul {
    column-width: 10em;
    list-style: none;
}



.nav-btn {
    font-size: 3em;
    color: var(--dark-gray-color);
    cursor: pointer;
    margin: 0 0.8em;
    transition: 0.3s all linear;
    user-select: none;
}

.nav-btn:hover {
    color: var(--dark-white-color)
}

.nav-btn:active {
    color: var(--light-gray-color)
}

